body{
	font-family: "Microsoft YaHei";
	background: #F5F6FA;
}
*{
	list-style: none;
	padding:0;
	margin:0;
	border:0;
}
/*头部*/
.fxq-head{
	width: 7.5rem;
	height: auto;
}
.fxq-t{
	width: 100%;
	height: 0.9rem;
	background: #0278BD;
	display: flex;
	justify-content:center;
	line-height: 0.9rem;
}
.fxq-t img{
	width:0.73rem;
	height:0.69rem;
	vertical-align: middle;
	margin-top: 0.1rem;
	margin-right:0.1rem;
}
.fxq-t span{
	font-size: 0.36rem;
	color: #fff;
}

/*脚部*/
.fxq-footer{
	width:100%;
	height:1rem;
	color: #666666;
	margin-top: 0.15rem;
}
.fxq-foot{
	width:7.02rem;
	margin:0 auto;
	height:1rem;
	font-size: 0.2rem;
	text-align: center;
	line-height: 0.4rem;
}
.fxq-foot li{
	line-height: 0.4rem;
}
/*首页之外的页面固定banner图片*/
.fxq-banner-pic{
	width:100%;
	height:2.8rem;
}
.fxq-banner-pic img{
	width:100%;
	height:auto;
}
/*分页器*/
.fxq-fy{
	width:100%;
	height:0.7rem;
	background: #fff;
	margin-top: 0.1rem;
}
.fxq-fy-left{
	width: 0.58rem;
	height:0.32rem;
	background: url("../images/l.png") no-repeat center/100% 100%;
	float: left;
	margin-left:0.4rem;
	margin-top: 0.19rem;
}
.fxq-fy-right{
	width: 0.58rem;
	height:0.32rem;
	background: url("../images/r.png") no-repeat center/100% 100%;
	float: left;
	margin-left:0.4rem;
	margin-top: 0.19rem;
}